node_RED text to speech
[{"id":"49a10a6.85e70f4","type":"play audio","z":"9a64151f.e6c58","name":"","voice":"","x":808,"y":419,"wires":[]},{"id":"772e6723.12ed58","type":"mqtt in","z":"9a64151f.e6c58","name":"","topic":"iot-2/cmd/tjbot/fmt/string","qos":"2","broker":"cb8674bf.95a698","x":179,"y":422.00001525878906,"wires":[["787a61fa.9ca1a","d1e0e3a8.f827a"]]},{"id":"787a61fa.9ca1a","type":"debug","z":"9a64151f.e6c58","name":"","active":true,"console":"false","complete":"false","x":414,"y":601,"wires":[]},{"id":"d1e0e3a8.f827a","type":"watson-text-to-speech","z":"9a64151f.e6c58","name":"IBM Watson - Text to Speech","lang":"en-US","langhidden":"en-US","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"Dh1Lv0NsbkOu","payload-response":true,"default-endpoint":false,"service-endpoint":"","x":515,"y":419,"wires":[["49a10a6.85e70f4"]]},{"id":"35f11fbc.ff271","type":"inject","z":"9a64151f.e6c58","name":"","topic":"","payload":"1234","payloadType":"str","repeat":"","crontab":"","once":false,"x":193.16665267944336,"y":317.9999966621399,"wires":[["d1e0e3a8.f827a"]]},{"id":"cb8674bf.95a698","type":"mqtt-broker","z":"","broker":"realtime.ngi.ibm.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
