Node-RED_cloud
[{"id":"67010046.310848","type":"function","z":"37e8899e.dfe676","name":"Parse JSON","func":"// Obtain moisture\nvar msg1 = {};\nmsg1.topic = 'Moisture values';\nmsg1.payload = msg.payload.moisture;\n\n// Obtain humidity\nvar msg2 = {};\nmsg2.topic = 'Humidity values';\nmsg2.payload = msg.payload.humidity;\n\n// Obtain temperature\nvar msg3 = {};\nmsg3.topic = 'Temperature values';\nmsg3.payload = msg.payload.temperature;\n\n// Obtain light\nvar msg4 = {};\nmsg4.topic = 'Light values';\nmsg4.payload = msg.payload.light;\n\nreturn [msg1,msg2,msg3,msg4];","outputs":"4","noerr":0,"x":288,"y":339,"wires":[["d072ac13.4c341"],["3f1fd98.063a9a6"],["c6a9b1b8.6dcc18"],["89ed4e49.7e4548"]]},{"id":"d072ac13.4c341","type":"ui_chart","z":"37e8899e.dfe676","name":"Moisture","group":"7a4652d8.8b1e8c","order":0,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":576,"y":244,"wires":[[],[]]},{"id":"a5206754.45f7f8","type":"mqtt in","z":"37e8899e.dfe676","name":"","topic":"iot-2/cmd/sensordata/fmt/string","qos":"2","broker":"4884736.035558c","x":154,"y":234,"wires":[["3051ee6b.805782"]]},{"id":"3051ee6b.805782","type":"json","z":"37e8899e.dfe676","name":"","x":105,"y":339,"wires":[["67010046.310848","dace2e8.af195d","6906a17.78bade","5db90237.e09424"]]},{"id":"3f1fd98.063a9a6","type":"ui_chart","z":"37e8899e.dfe676","name":"Humidity","group":"18c8a7f9.87de58","order":0,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":572.5,"y":303,"wires":[[],[]]},{"id":"c6a9b1b8.6dcc18","type":"ui_chart","z":"37e8899e.dfe676","name":"Temp","group":"390334ec.591e14","order":0,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"10","ymax":"40","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":563.5,"y":360,"wires":[[],[]]},{"id":"89ed4e49.7e4548","type":"ui_chart","z":"37e8899e.dfe676","name":"Light","group":"244934be.5bbf7c","order":0,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":563.5,"y":415,"wires":[[],[]]},{"id":"1d220de3.0f868a","type":"cloudant out","z":"37e8899e.dfe676","name":"Store data in sensordb","cloudant":"2ebd5732.ffad18","database":"sensordb","service":"cognitiveplant-cloudantNoSQLDB","payonly":true,"operation":"insert","x":480.3887634277344,"y":548.4443969726562,"wires":[]},{"id":"dace2e8.af195d","type":"function","z":"37e8899e.dfe676","name":"Add current time to msg","func":"var time = new Date()\nmsg.payload.time = time.valueOf();\nreturn msg;","outputs":1,"noerr":0,"x":146,"y":548.611083984375,"wires":[["c5a651ab.789848","1d220de3.0f868a"]]},{"id":"c5a651ab.789848","type":"debug","z":"37e8899e.dfe676","name":"","active":true,"console":"false","complete":"false","x":595.4444580078125,"y":626,"wires":[]},{"id":"524ff6ff.b07928","type":"mqtt in","z":"37e8899e.dfe676","name":"","topic":"iot-2/cmd/sayhello/fmt/string","qos":"2","broker":"4884736.035558c","x":158.77777099609375,"y":894.8333129882812,"wires":[["922d5f9d.b07c48"]]},{"id":"fabf3053.ab9c08","type":"twitter out","z":"37e8899e.dfe676","twitter":"","name":"Tweet welcome message","x":692.7857055664062,"y":939.2857666015625,"wires":[]},{"id":"77a3f435.ade94c","type":"function","z":"37e8899e.dfe676","name":"Prepare DM tweet","func":"msg.payload = \"D @EdCig001 \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":425.499993218316,"y":894.7499796549479,"wires":[["fabf3053.ab9c08","b9166313.2372f8"]]},{"id":"6906a17.78bade","type":"switch","z":"37e8899e.dfe676","name":"Moisture switch","property":"payload.moisture","propertyType":"msg","rules":[{"t":"lt","v":"700","vt":"num"},{"t":"btwn","v":"700","vt":"num","v2":"1100","v2t":"num"}],"checkall":"true","outputs":2,"x":114.5,"y":736.75,"wires":[["466d292e.02e27"],["12e9665a.7dd3da"]]},{"id":"466d292e.02e27","type":"function","z":"37e8899e.dfe676","name":"Need water","func":"if (context.global.sendMessage || context.global.needWaterCnt == 1) {\n    msg.payload = \"I desperately need water!!\";\n    context.global.sendMessage = false;\n    context.global.justFineCnt = 1;\n    context.global.needWaterCnt = context.global.needWaterCnt + 1;\n    return msg;\n}","outputs":"1","noerr":0,"x":402.4999694824219,"y":705.75,"wires":[["a50b4f48.09508","c5a651ab.789848"]]},{"id":"12e9665a.7dd3da","type":"function","z":"37e8899e.dfe676","name":"Doing fine","func":"if (context.global.sendMessage || context.global.justFineCnt === 1) {\n    msg.payload = \"I'm doing just fine...\";\n    context.global.sendMessage = false;\n    context.global.needWaterCnt = 1;\n    context.global.justFineCnt = context.global.justFineCnt + 1;\n    return msg;\n}\n","outputs":"1","noerr":0,"x":393.4999694824219,"y":755.75,"wires":[["a50b4f48.09508","c5a651ab.789848"]]},{"id":"d4de6c29.b441b8","type":"inject","z":"37e8899e.dfe676","name":"Interval to repeat TTS message","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"x":183.5,"y":93.25,"wires":[["f49a36a9.cb369"]]},{"id":"f49a36a9.cb369","type":"function","z":"37e8899e.dfe676","name":"Set sendMessage to true","func":"context.global.sendMessage = msg.payload;\nreturn msg;","outputs":"0","noerr":0,"x":514.5,"y":93.75,"wires":[]},{"id":"a50b4f48.09508","type":"mqtt out","z":"37e8899e.dfe676","name":"send to TJ Bot","topic":"iot-2/cmd/tjbot/fmt/string","qos":"","retain":"","broker":"4884736.035558c","x":677.5,"y":730.5,"wires":[]},{"id":"8a276ba1.64f1e","type":"comment","z":"37e8899e.dfe676","name":"Store sensor data in DB","info":"","x":134.23336791992188,"y":500.9666442871094,"wires":[]},{"id":"4a33b2d2.21558c","type":"comment","z":"37e8899e.dfe676","name":"Listen for sensor data & publish to dashboard","info":"","x":195.23333740234375,"y":170.9666748046875,"wires":[]},{"id":"79ffd87a.322e8","type":"comment","z":"37e8899e.dfe676","name":"Broadcast need for water","info":"","x":144.23333740234375,"y":690.9666748046875,"wires":[]},{"id":"5f427fde.b3d668","type":"comment","z":"37e8899e.dfe676","name":"Say 'hi' to human visitor based on BLE connection","info":"","x":227.23333740234375,"y":851.9666442871094,"wires":[]},{"id":"5db90237.e09424","type":"debug","z":"37e8899e.dfe676","name":"","active":true,"console":"false","complete":"true","x":388.33336966378346,"y":457.000013078962,"wires":[]},{"id":"b9166313.2372f8","type":"debug","z":"37e8899e.dfe676","name":"","active":true,"console":"false","complete":"false","x":639.7619410923548,"y":849.8571559361048,"wires":[]},{"id":"922d5f9d.b07c48","type":"function","z":"37e8899e.dfe676","name":"","func":"msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":402.61908394949774,"y":944.1904776436941,"wires":[["b9166313.2372f8","fabf3053.ab9c08","a50b4f48.09508"]]},{"id":"7a4652d8.8b1e8c","type":"ui_group","z":"","name":"Moisture","tab":"2e18c32e.4787cc","order":2,"disp":true,"width":"9"},{"id":"4884736.035558c","type":"mqtt-broker","z":"","broker":"realtime.ngi.ibm.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"18c8a7f9.87de58","type":"ui_group","z":"","name":"Humidity","tab":"2e18c32e.4787cc","order":3,"disp":true,"width":"9"},{"id":"390334ec.591e14","type":"ui_group","z":"","name":"Temperature","tab":"2e18c32e.4787cc","order":1,"disp":true,"width":"9"},{"id":"244934be.5bbf7c","type":"ui_group","z":"","name":"Light intensity","tab":"2e18c32e.4787cc","order":6,"disp":true,"width":"9"},{"id":"2ebd5732.ffad18","type":"cloudant","z":"","host":"e3ddbfef-0a0f-4a4c-a381-c0bdbafab018-bluemix.cloudant.com","name":"cognitiveplant-cloudantNoSQLDB"},{"id":"2e18c32e.4787cc","type":"ui_tab","z":"","name":"Cognitive Plant Data","icon":"dashboard","order":1}]
