node_RED image recog
[{"id":"8162e26f.d29c4","type":"http response","z":"42d4f1d6.581da","name":"","x":839.3125,"y":192.00003051757812,"wires":[]},{"id":"aa01a19a.8a341","type":"http in","z":"42d4f1d6.581da","name":"","url":"/visualtj","method":"get","swaggerDoc":"","x":103.5624771118164,"y":192.7500286102295,"wires":[["5068516d.54282"]]},{"id":"3aa7dfe1.e3a27","type":"exec","z":"42d4f1d6.581da","command":"raspistill -o /home/pi/tjfiles/image.jpg -w 640 -h 480","addpay":false,"append":"","useSpawn":"","timer":"","name":"Take a picture","x":874.0000991821289,"y":329.04250717163086,"wires":[["fe18e6c3.626de8","1b4d12d2.6f07bd"],[],[]]},{"id":"3ac1f14e.2deebe","type":"websocket in","z":"42d4f1d6.581da","name":"","server":"149bd03a.62da2","client":"","x":106.22222518920898,"y":348.2923994064331,"wires":[["ae8afc34.bed18","110fb447.dfb2fc"]]},{"id":"f77f8946.81f008","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"result","x":1065.0945854187012,"y":539.0868983268738,"wires":[]},{"id":"3f4b8918.b68af6","type":"file in","z":"42d4f1d6.581da","name":"","filename":"/home/pi/tjfiles/image.jpg","format":"","x":613.2731323242188,"y":600.1264572143555,"wires":[["dbed098c.65ff6"]]},{"id":"b25ae117.1dc22","type":"function","z":"42d4f1d6.581da","name":"select classification","func":"if (msg.result.images[0].classifiers[0].classes.length!==0) {\n    msg.indicator=0;\n    msg.classifier = msg.result.images[0].classifiers[0].name\n    msg.class=msg.result.images[0].classifiers[0].classes[0].class;\n    msg.score=msg.result.images[0].classifiers[0].classes[0].score;\n}\nelse {\n    msg.indicator=1;\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":1074.5954360961914,"y":612.2021636962891,"wires":[["b59df27e.ebc04","7dabaf05.f6f9b","a585e6b5.5d9a18"]]},{"id":"b59df27e.ebc04","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"class","x":1292.0731887817383,"y":507.50346755981445,"wires":[]},{"id":"7dabaf05.f6f9b","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"score","x":1319.2620468139648,"y":563.3133544921875,"wires":[]},{"id":"ae8afc34.bed18","type":"switch","z":"42d4f1d6.581da","name":"Take or analyze picture","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"take picture","vt":"str"},{"t":"eq","v":"analyze picture","vt":"str"}],"checkall":"true","outputs":2,"x":362.25,"y":345.0591278076172,"wires":[["e1d4a07.1d9946"],["e921573a.6ee408"]]},{"id":"110fb447.dfb2fc","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"false","x":356.3888397216797,"y":246.58129501342773,"wires":[]},{"id":"470045b9.03605c","type":"template","z":"42d4f1d6.581da","name":"Result Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\nh4 {\n    text-align: center;\n    margin: 10px;\n}\ntable {\n    width: 480px;\n    margin-top: 10px;\n}\n\nth, td {\n    padding: 8px;\n    text-align: left;\n    border-bottom: 1px solid #ddd;\n    background-color: #FFFFFF;\n    width: 50%;\n}\n\n.classifier {\n    background-color: rgb(85,150,230);\n    text-align: center;\n}\n\n.title {\n    background-color:LightGrey;\n}\n\n</style>\n    <div align=\"center\">\n    <p><b>Here are my results:</b></p>\n    {{#result.images}}\n        {{#classifiers}}\n            <table border=\"0\">\n            <tr><td class=classifier colspan=\"2\">{{classifier_id}}</td></tr>\n                <tr><td class=\"title\">Class</td><td class=\"title\">Score</td></tr>\n                {{#classes}}\n                <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n                {{/classes}}\n            </table>\n        {{/classifiers}}\n    {{/result.images}}\n    </div>","x":1448.6109313964844,"y":654.4923839569092,"wires":[["cc1ef9ad.c9de98","5f5f1441.abc9dc","b1bd3ffe.5df8e"]]},{"id":"cc1ef9ad.c9de98","type":"websocket out","z":"42d4f1d6.581da","name":"","server":"149bd03a.62da2","client":"","x":1754.5219192504883,"y":656.3368792533875,"wires":[]},{"id":"fe18e6c3.626de8","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"false","x":1066.2361183166504,"y":246.95908641815186,"wires":[]},{"id":"9e844913.d00268","type":"file in","z":"42d4f1d6.581da","name":"","filename":"/home/pi/tjfiles/image.jpg","format":"","x":395.4068145751953,"y":1040.6418724060059,"wires":[["d3721585.7c5bd8","9c00eb0a.01b018"]]},{"id":"d3721585.7c5bd8","type":"function","z":"42d4f1d6.581da","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":671.4167137145996,"y":1108.4313049316406,"wires":[["35893201.b3c0be"]]},{"id":"35893201.b3c0be","type":"http response","z":"42d4f1d6.581da","name":"","x":888.7497215270996,"y":1108.0982971191406,"wires":[]},{"id":"5d66b805.6694e8","type":"http in","z":"42d4f1d6.581da","name":"","url":"/getimage","method":"get","swaggerDoc":"","x":140.41680908203125,"y":1043.0979270935059,"wires":[["9e844913.d00268"]]},{"id":"9c00eb0a.01b018","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"payload","x":685.4168548583984,"y":1014.0979270935059,"wires":[]},{"id":"5f5f1441.abc9dc","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"false","x":1568.2979736328125,"y":454.6512756347656,"wires":[]},{"id":"1b4d12d2.6f07bd","type":"template","z":"42d4f1d6.581da","name":"Picture status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p><b>I've taken this picture. Now you can analyze it!</b></p>\n","x":1090.0555458068848,"y":310.15349769592285,"wires":[["c086aa12.95c598"]]},{"id":"c086aa12.95c598","type":"websocket out","z":"42d4f1d6.581da","name":"","server":"149bd03a.62da2","client":"","x":1315.2776947021484,"y":309.65350437164307,"wires":[]},{"id":"ad3c25fe.b407f8","type":"comment","z":"42d4f1d6.581da","name":"Get Image","info":"","x":122.33343505859375,"y":992.8478050231934,"wires":[]},{"id":"c38617ac.9d1278","type":"comment","z":"42d4f1d6.581da","name":"WebApp","info":"","x":94.6666259765625,"y":141.51461029052734,"wires":[]},{"id":"d34da10.62da26","type":"comment","z":"42d4f1d6.581da","name":"Take or analyze picture","info":"","x":128.5555191040039,"y":278.2924041748047,"wires":[]},{"id":"2cd693b8.2216ac","type":"function","z":"42d4f1d6.581da","name":"Convert class to payload","func":"msg.payload=\"This is a \"+msg.class;\nreturn msg;","outputs":1,"noerr":0,"x":227.50015258789062,"y":791.3419799804688,"wires":[["4ab0b24a.102f0c","d6bd1832.90fc5","143cc056.5ee558","f89594a6.1a88d8"]]},{"id":"4ab0b24a.102f0c","type":"watson-text-to-speech","z":"42d4f1d6.581da","name":"IBM Watson - Text to Speech","lang":"en-US","langhidden":"en-US","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"Dh1Lv0NsbkOu","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":546.8461074829102,"y":778.5419034957886,"wires":[["15bcebb9.ab3e74","ee5ca006.aa296"]]},{"id":"63155c7d.830b94","type":"file","z":"42d4f1d6.581da","name":"","filename":"/home/pi/tjfiles/speech.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1126.812843322754,"y":886.7939205169678,"wires":[]},{"id":"55ff6697.faeba8","type":"delay","z":"42d4f1d6.581da","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":917.4794464111328,"y":957.7938842773438,"wires":[["e95a301c.a499b"]]},{"id":"e95a301c.a499b","type":"file in","z":"42d4f1d6.581da","name":"","filename":"/home/pi/tjfiles/speech.wav","format":"","x":1145.146141052246,"y":956.1272993087769,"wires":[["28671928.fd4fa6"]]},{"id":"28671928.fd4fa6","type":"exec","z":"42d4f1d6.581da","command":"aplay /home/pi/tjfiles/speech.wav","addpay":false,"append":"","useSpawn":"","timer":"","name":"Output audio","x":1414.9080963134766,"y":947.7223930358887,"wires":[[],[],[]]},{"id":"15bcebb9.ab3e74","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"payload","x":868.8128547668457,"y":793.1272716522217,"wires":[]},{"id":"ee5ca006.aa296","type":"function","z":"42d4f1d6.581da","name":"Set playload to msg.speech","func":"msg.payload=msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":806.8128128051758,"y":881.4605884552002,"wires":[["63155c7d.830b94","55ff6697.faeba8"]]},{"id":"a585e6b5.5d9a18","type":"switch","z":"42d4f1d6.581da","name":"","property":"indicator","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":1267.5997428894043,"y":651.9146976470947,"wires":[["470045b9.03605c"],["78a215f8.29ac7c"]]},{"id":"78a215f8.29ac7c","type":"template","z":"42d4f1d6.581da","name":"No result found","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p><b>I don't know what this is!</b></p>","x":1482.0887985229492,"y":708.0480089187622,"wires":[["1d487799.c33738"]]},{"id":"1d487799.c33738","type":"websocket out","z":"42d4f1d6.581da","name":"","server":"149bd03a.62da2","client":"","x":1764.2998657226562,"y":733.670202255249,"wires":[]},{"id":"b1bd3ffe.5df8e","type":"link out","z":"42d4f1d6.581da","name":"Result table out","links":["a7e5e05c.d4751"],"x":1668.5331478118896,"y":610.4034881591797,"wires":[]},{"id":"a7e5e05c.d4751","type":"link in","z":"42d4f1d6.581da","name":"Text to speech in","links":["b1bd3ffe.5df8e"],"x":63.666704177856445,"y":787.5145797729492,"wires":[["2cd693b8.2216ac"]]},{"id":"b20d0572.afe488","type":"template","z":"42d4f1d6.581da","name":"WebApp","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Visual TJBot</title>\n    \n    <script>{{{payload.script}}}</script>\n    <style>{{{payload.style}}}</style>\n    \n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <div id=\"header\">Visual TJBot</div>\n        <div><img src='https://ibmtjbot.github.io/images/newTJBoticon.png' width='75px'/></div>\n        <div>\n            <p><b>Hi my name is TJBot! I'm an open source project designed to help you access IBM Watson Services.</b></p>\n            <p><b>Now you can start taking a picture and analyze it with the  <a target=\"_blank\" href=\"http://www.ibm.com/watson/developercloud/visual-recognition.html\">Visual Recognition Service</a> on IBM Bluemix.</b></p>\n        </div>\n        \n        <div style=\"text-align:center\">\n            <div id=\"divbutton\"><button type=\"button\" onclick='takepic(\"take picture\");'>Take a Picture</button></div>\n            <div id=\"divbutton\"><button type=\"button\" onclick='analyze(\"analyze picture\");'>Analyze it</button></div>\n        \n            <div id=\"displayimage\"></div>\n            <div id=\"messages\"></div>\n            <hr>\n            <div id=\"status\">Websocket status unknown</div>\n        </div>\n    </body>\n</html>\n","x":651.3837890625,"y":191.92861938476562,"wires":[["8162e26f.d29c4"]]},{"id":"3fc7fe86.613a42","type":"comment","z":"42d4f1d6.581da","name":"Audio output result class with Text to Speech","info":"","x":205.14290618896484,"y":716.5716457366943,"wires":[]},{"id":"e921573a.6ee408","type":"change","z":"42d4f1d6.581da","name":"Add Custom Classifier","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"default","tot":"str"},{"t":"set","p":"processid","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":516.388843536377,"y":495.8479356765747,"wires":[["3f4b8918.b68af6"]]},{"id":"fd4d61a5.32ab4","type":"comment","z":"42d4f1d6.581da","name":"Take and save the image to the archive folder","info":"","x":738.2837829589844,"y":395.5941390991211,"wires":[]},{"id":"e1d4a07.1d9946","type":"exec","z":"42d4f1d6.581da","command":"mkdir /home/pi/tjfiles","addpay":false,"append":"","useSpawn":"","timer":"","name":"Create image directory","x":646.4498977661133,"y":339.1555995941162,"wires":[["3aa7dfe1.e3a27"],[],[]]},{"id":"aa1d3c83.a1c17","type":"comment","z":"42d4f1d6.581da","name":"Analyze the image","info":"","x":836.2697677612305,"y":561.4364891052246,"wires":[]},{"id":"8ae3e19c.c2384","type":"template","z":"42d4f1d6.581da","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n    padding-top: 45px;\n    background: rgb(245,247,250);\n    font-family:Helvetica;\n    font-size: 18px;\n    }\n        \ndiv {\n    margin-top: 10px;\n    }\n        \np {\n    text-align: center;\n    margin: 0;\n    font-size: 16px;\n    }\n        \nhr {\n    margin-top: 20px;\n    margin-bottom: 20px;\n    }\n        \n#header {\n    position: absolute;\n    margin: 0;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 50px;\n    background: rgb(21,41,53);\n    box-sizing: border-box;\n    color: #FFFFFF;\n    font-size: 25px;\n    text-align: center;\n    vertical-align: middle;\n    line-height: 50px;\n    }\n        \n#divbutton{\n    margin: 0px;\n    display:inline-block;\n    }\n        \nimg {\n    display: block;\n    margin: auto;\n    padding: 0px;\n    }\n       \nh1 {\n    text-align: center;\n    }\n\nbutton{\n    padding:16px 20px;\n    margin: auto;\n    width: 200px;\n    font-weight:100;\n    color:#fff;\n    font-size: 18px;\n    background: rgb(85,150,230);\n    border:0;\n    }\n\nbutton:hover{\n    background: rgb(61,112,178);\n}\n        \n#status{\n    font-size: 10px;\n    position: relative;\n    bottom: 0;\n    text-align: center;\n    }","x":481.7380676269531,"y":191.9285888671875,"wires":[["b20d0572.afe488"]]},{"id":"5068516d.54282","type":"template","z":"42d4f1d6.581da","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"visualtj\",\"ws/visualtj\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var image = \"<img src='http://localhost:1880/getimage?\"+ new Date().getTime() + \"' alt='Picture' width='480px'/>\";\n                console.log(image);\n                document.getElementById('displayimage').innerHTML = image;\n                // data from the http response from the visrec flow on bluemix\n                var data = msg.data;\n                console.log(data); //log output from visual rec analyzation\n                line = data\n                document.getElementById('messages').innerHTML = line;\n\n                \n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"Websocket is connected and the app is ready to use.\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"Websocket is not connected. Reconnecting in progress.\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function takepic(m) {\n            if (ws) { ws.send(m); }\n            console.log(\"taking picture\");\n        }\n        \n        function analyze(m)  {\n            if (ws) { ws.send(m); }\n            console.log(\"analyzing picture\");\n        }","x":303.1166687011719,"y":191.95001220703125,"wires":[["8ae3e19c.c2384"]]},{"id":"c9014c0a.d4f06","type":"comment","z":"42d4f1d6.581da","name":"Here you can insert your custom classifier","info":"","x":676.8944702148438,"y":451.827844619751,"wires":[]},{"id":"a472308e.6e96f","type":"comment","z":"42d4f1d6.581da","name":"VisualTJ - Make your TJbot see and recognize the World","info":"","x":243.45000457763672,"y":70.38333129882812,"wires":[]},{"id":"e1707b1a.206648","type":"comment","z":"42d4f1d6.581da","name":"Insert your Speech to Text credentials here","info":"","x":597.6667633056641,"y":715.9999103546143,"wires":[]},{"id":"dbed098c.65ff6","type":"visual-recognition-v3","z":"42d4f1d6.581da","name":"visual","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":846.6111106872559,"y":599.2777786254883,"wires":[["f77f8946.81f008","b25ae117.1dc22"]]},{"id":"2d56f94a.a58ab6","type":"inject","z":"42d4f1d6.581da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":449.5,"y":295.25,"wires":[["e1d4a07.1d9946"]]},{"id":"d6bd1832.90fc5","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"false","x":434,"y":882.9833374023438,"wires":[]},{"id":"143cc056.5ee558","type":"debug","z":"42d4f1d6.581da","name":"","active":false,"console":"false","complete":"class","x":399.23076923076917,"y":954.6026141826922,"wires":[]},{"id":"f89594a6.1a88d8","type":"link out","z":"42d4f1d6.581da","name":"result high score","links":["7514bb89.01c99c","88625ca9.8e6968","cda4bb02.c1f4d8"],"x":506.1538461538461,"y":833.4487210787258,"wires":[]},{"id":"149bd03a.62da2","type":"websocket-listener","z":"","path":"/ws/visualtj","wholemsg":"false"}]
